<p style="color: green"><%= notice %></p>
<header class="flex items-center justify-between">
  <h1 class="text-xl md:text-3xl font-semibold">Transactions</h1>
  <%= link_to 'New Transaction', new_transaction_path, class: 'btn btn-sm md:btn-md btn-success' %>
</header>
<%= render 'transactions/table' %>
