<nav class="flex justify-between px-10 py-3">
  <%= link_to 'Finances', root_path, class: 'text-3xl font-bold text-green-600' %>
  <ul class="flex space-x-4">
    <li>
      <%= link_to 'Home', root_path, class: 'text-lg font-bold text-green-600' %>
    </li>
    <li>
      <%= link_to 'Categories', root_path, class: 'text-lg font-bold text-green-600' %>
    </li>
    <li>
      <%= link_to 'Transactions', root_path, class: 'text-lg font-bold text-green-600' %>
    </li>
  </ul>
</nav>
